@model  LoginViewModel;

@{
    ViewData["Title"] = "Log in";

    Layout = "_LoginRegisterLayout";


}

<style>
    label {
        font-family: cursive;
        font-size: smaller
    }
</style>

@if(Model.SessionResponse != null)
{

    <script>
        @*var response = @Model.SessionResponse;*@
            alert("Your Current Session has expired please login ");
    </script>
}

<div class="row container">
    <div class="col-lg-7 col-md-6 col-sm-12">

    </div>
    <div style="width:400px;height:auto;border-radius:25px; background-color:white;margin-top:100px" class=" border col-lg-4 col-md-5 col-sm-12 container ">
        <h1 style="text-align:center">Word<span style="color:#ffc221; margin-bottom:30px">Crusher</span></h1>
        <h5 style="text-align:center">Login </h5>    
        <section style="margin-left:30px;margin-top:40px">
            <form asp-action="Login" asp-controller="Account" method="post">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="@Model.UserName"></label><br />
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color:#ede6d3">
                            <i class="fas fa-user fa-1x" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                        <input asp-for="@Model.UserName" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0" />
                    </div>
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <label asp-for="@Model.Password"></label>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color:#ede6d3">
                            <i class="fas fa-lock fa-1x" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                        <input asp-for="@Model.Password" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0" />
                    </div>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="custom-checkbox">
                        <label asp-for="@Model.IsPersistent">
                            <input asp-for="@Model.IsPersistent" />
                            @Html.DisplayNameFor(x => x.IsPersistent)
                        </label>
                    </div>
                    <span asp-validation-for="@Model.IsPersistent" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" style="border-radius:8px;background-color:#ffc221">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password">Forgot your password?</a>
                    </p>
                    <p>
                         Dont have an Account <a asp-action="RegisterSchool" style="color:#ffc221">SignUp</a>
                    </p>
                    <p>
                        <a id="resend-confirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @*<script>
         $(document).ready(function () {
        var resonse = @Model.SessionResponse;
        if (resonse != "") {
            alert(resonse);
             }
             alert("hellow");
    })
    </script>*@
}




@*@model LoginViewModel;


    @{
        ViewData["Title"] = "Login";
    }

    <style>

        label {
        font-family: 'POPPINS';
        }
    </style>

    <div class="row mt-5" style="margin-bottom:80px">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
            <div class="registerdiv" style="margin-bottom:70px">
                <h4 class="register-form-header" style="color:#ffc221">Login</h4>
                <div class="mt-5 container">
                    <form asp-action="Login" asp-controller="Account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3 row">
                            <div class="col-sm-3">
                                <label class="form-label" asp-for="@Model.UserName"></label>
                            </div>
                            <div class="col-sm-7">
                                <input class="form-control" id="firstName" asp-for="@Model.UserName">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-sm-3">
                                <label class="form-label" asp-for="@Model.Password"></label>
                            </div>
                            <div class="col-sm-7">
                                <input class="form-control" id="lastName" asp-for="@Model.Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-checkbox">
                                <label asp-for="@Model.IsPersistent">
                                    <input asp-for="@Model.IsPersistent" />
                                    @Html.DisplayNameFor(x => x.IsPersistent)
                                </label>
                            </div>
                            <span asp-validation-for="@Model.IsPersistent" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" id="submitBtn" class="registerbtn mb-4 btn-sm">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@