
@model RegisterSchoolViewModel;

@{
    ViewData["Title"] = "Register";

    Layout = "_LoginRegisterLayout";
}

<style>
    label {
        font-family: cursive;
        font-size:smaller
    }
</style>

<div class="row container">

    <div class="col-lg-4 col-md-4 col-sm-12">

    </div>
    <div style="width:100%;height:auto;border-radius:25px; background-color:white;margin-top:100px" class=" border col-lg-7 col-md-7 col-sm-12 container ">
        <h1 style="text-align:center">Word<span style="color:#ffc221; margin-bottom:30px">Crusher</span></h1>
        <h5 style="text-align:center">Register</h5> 
        <section style="margin-left:15px;margin-top:70px">
            <form id="registerSchool" asp-action="RegisterSchool" asp-controller="Account" method="post" enctype="multipart/form-data">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.SchoolName"></label><br />
                        </div>
                        <div class="col-sm-7">
                            <input asp-for="@Model.SchoolName" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0" /><br />
                            <span asp-validation-for="@Model.SchoolName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.SchoolState"></label>
                        </div>
                        <div class="col-sm-7">
                            <select id="schoolState" class="form-control nice-select form-select-lg" aria-label=".form-select-lg example" asp-for="@Model.SchoolState" asp-items="@Html.GetEnumSelectList<States>()">
                                <option disabled selected="selected">Please Select</option>
                            </select><br />
                            <span asp-validation-for="@Model.SchoolState" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.SchoolLocalGovt"></label>
                        </div>
                        <div class="col-sm-7">
                            <select name="schoolLocalGovt" id="schoolLocalGovt" class="form-control form-select-sm nice-select" aria-label=".form-select-sm example" asp-for="@Model.SchoolLocalGovt">
                                <option disabled selected="selected">Please Select</option>
                            </select><br />
                            <span asp-validation-for="@Model.SchoolLocalGovt" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.SchoolAddress"></label>
                        </div>
                        <div class="col-sm-7">
                            <input id="scoolAddress" asp-for="@Model.SchoolAddress" class="form-control" style="border-bottom-left-radius:0;border-top-left-radius:0"><br />
                            <span asp-validation-for="@Model.SchoolAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.RelationShip"></label>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control form-select-sm nice-select mb-3" aria-label=".form-select-sm example" id="relationship" asp-for="@Model.RelationShip">
                                <option disabled selected="selected">Please select</option>
                                <option value="Prinicipal_Administrator">Principal/Administrator</option>
                                <option value="Teacher">Teacher</option>
                                <option value="School_Support_Staff">School Suport Staff</option>
                                <option value="Sponsoring_Business">Sponsoring Business</option>
                            </select><br />
                            <span asp-validation-for="@Model.RelationShip" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.SchoolPhoneno"></label>
                        </div>
                        <div class="col-sm-7">
                            <input class="form-control" id="schoolPhone" asp-for="@Model.SchoolPhoneno"><br />
                            <span asp-validation-for="@Model.SchoolPhoneno" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.Email"></label>
                        </div>
                        <div class="col-sm-7">
                            <input class="form-control" id="schoolEmail" asp-for="@Model.Email"><br />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.SchoolPassword"></label>
                        </div>
                        <div class="col-sm-7">
                            <input class="form-control" id="schoolPassword" asp-for="@Model.SchoolPassword"><br />
                            <span asp-validation-for="@Model.SchoolPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.ConfirmSchoolPassword"></label>
                        </div>
                        <div class="col-sm-7">
                            <input class="form-control" id="confirmSchoolPassword" asp-for="@Model.ConfirmSchoolPassword"><br />
                            <span asp-validation-for="@Model.ConfirmSchoolPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.CreatedBy"></label>
                        </div>
                        <div class="col-sm-7">
                            <input class="form-control" id="createdBy" asp-for="@Model.CreatedBy"><br />
                            <span asp-validation-for="@Model.CreatedBy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @*<div class="row mb-3">
                    <div class="form-group input-group">
                        <div class="col-sm-4">
                            <label asp-for="@Model.DateCreated"></label>
                        </div>
                        <div class="col-sm-7">
                            <input class="form-control" id="dateCreated" asp-for="@Model.DateCreated"><br />
                            <span asp-validation-for="@Model.DateCreated" class="text-danger"></span>
                        </div>
                    </div>
                </div>*@

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" style="border-radius:15px;">Register</button>
                </div>
                <div class="form-group mt-3">            
                    <p>
                        Alreadey have an  Account <a asp-action="Login">Login</a>
                    </p>              
                </div>
            </form>
        </section>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




<script src="~/js/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#schoolState").change(function () {
            var selectedCountry = $("#schoolState option:selected").val();
            SchoolState = $("#schoolState option:selected").val();
            console.log(selectedCountry);
            const values = {
                Id: selectedCountry
            }
            $.ajax({
                type: "Post",
                url: "GetStateLocalGovt",
                data: values,
                error: function (error) {
                    if (error) {
                        console.log(error);
                    }
                }
            }).done(function (data) {
                console.log(data);
                console.log(data.model);
                if (data.model.length == 0) {
                    $("#schoolLocalGovt").html("<option></option>");
                }
                else {
                    var localgovt = "";
                    SchoolState = data.enumname;
                    for (var i = 0; i < data.model.length; i++) {
                        localgovt += "<option value=" + data.model[i] + ">" + data.model[i] + "</option>";
                    }
                    $("#schoolLocalGovt").html("<option>Please Select</option>" + localgovt);
                }
            });
        });
    });
</script>
